<div class="body">
  <div class="container-wrapper">
  
      <!--div class="image-container">
      <img src="assets/seat.jpg" alt="Seat Image">
      </div-->
  
      <div class="login-form-container">
        <form class="login-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          
          <h2 class="form-title">Intern Login</h2>
  
          <div class="form-group">
          <label for="id">Trainee Id</label>
          <input id="id" formControlName="id" />
          <div *ngIf="loginForm.get('id')?.touched && loginForm.get('id')?.invalid">
          <small *ngIf="loginForm.get('id')?.errors?.['required']">Id is required.</small>
          <small *ngIf="loginForm.get('id')?.errors?.['pattern']">Id must be a number.</small>

            </div>
          </div>
  
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password" />
            <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
              <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
            </div>
          </div>
  
          <button type="submit" class="login-btn" (click)="onLogin()">Login</button>
          <button type="button" class="register-btn" (click)="onRegister()">Register</button>
          <button type="button" class="home-btn" (click)="onHome()">Home</button>
  
        </form>
      </div>
    </div>
  </div>