<div class="body">
  <header class="home-header">
    <nav class="navbar">
        <a href="/register" class="nav-link">Register</a>
        <!-- <a href="/admin-login" class="nav-link">Admin Login</a> -->
        <a href="/admin-login" class="nav-link">Admin Login</a>

        <a href="/home" class="nav-link">Home</a>
    </nav>
   
</header>
<br>
  <div class="container-wrapper">
  
      <!--div class="image-container">
      <img src="assets/seat.jpg" alt="Seat Image">
      </div-->
 
      <div class="login-form-container">
        <form class="login-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          
          <h2 class="form-title">Intern Login</h2>
  
          <div class="form-group">
          <label for="id">Trainee Id</label>
          <input id="id" formControlName="User_Id" />
          <div *ngIf="loginForm.get('User_Id')?.touched && loginForm.get('User_Id')?.invalid">
          <small *ngIf="loginForm.get('User_Id')?.errors?.['required']">Id is required.</small>
          <small *ngIf="loginForm.get('User_Id')?.errors?.['pattern']">Id must be a number.</small>

            </div>
          </div>
  
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="Password" />
            <div *ngIf="loginForm.get('Password')?.touched && loginForm.get('Password')?.invalid">
              <small *ngIf="loginForm.get('Password')?.errors?.['required']">Password is required.</small>
            </div>
          </div>
  
          <button type="submit" class="login-btn" (click)="onLogin()">Login</button>
          <h5>Don't have an account? Please Register.</h5>
          <button type="button" class="register-btn" (click)="onRegister()">Register</button>
          <!-- <button (click)="loginWithFacebook()">Login with Facebook</button> -->
         

          <!--button type="button" class="home-btn" (click)="onHome()">Home</button-->
          <div id="g_id_onload"
          data-client_id="216245630815-13t966f7v62lkmkkgeehov52tgqdqjo7.apps.googleusercontent.com"
          data-context="signin"
          data-login_uri="http://localhost:5121/api/Auth/google"
          data-auto_select="false"
          data-itp_support="true">
     </div>
     
        </form>
      </div>
    </div>
  </div>