<nav class="navbar">
    <div class="left-section">
        <h2></h2>
    </div>
    <div class="right-section">
        <i class="message-icon fas fa-comment-dots" (click)="message()"></i>
        
        <div class="profile-info" (click)="toggleDropdown()">
            <span>{{ internName }}</span>
            <!-- <img [src]="'assets/user.png'" alt="Profile Picture" /> -->
            <img [src]="profileImageUrl" alt="Profile Picture" />
            <i class="fa-solid fa-sort-down down-arrow"></i>
        </div>

        <!-- Dropdown Menu -->
        <div class="dropdown" *ngIf="isDropdownOpen">
            <a href="#" (click)="goToProfile()">Profile</a>
            <a href="#" (click)="goToSettings()">Settings</a>
        </div>
    </div>
</nav>
