<app-nav-bar-horizontal></app-nav-bar-horizontal>

<div class="full">
  
  <nav class="sidebar">
    <h2>Intern Panel</h2>
    <ul>
      <li (click)="dashboard()">Dashboard</li>
      <li (click)="viewBookings()">View Bookings</li>
      <!-- <li (click)="viewBookingHistory()">View Booking History</li> -->
      <li (click)="viewProfile()">View Profile</li>
      <li (click)="logout()">Log Out</li>
    </ul>
  </nav>
  
  
<div class="dashboard-container">
  
  <header class="dashboard-header">
    <h1>Intern Dashboard</h1>
    <p>Welcome! Here are the available seats for booking:</p>
  </header>

  <div class="date-picker-container">
    <label for="datePicker">Select Date:</label>
    <input id="datePicker" [min]="minDate" type="date" [(ngModel)]="selectedDate" (change)="onDateChange()" />
    

  </div>

  <section class="seats-section">
    <div class="seat-card" *ngFor="let seat of seatNumbers">
      <div class="seat-info">
        <span>Seat {{ seat }}</span>
        <button  class="book-seat-btn" (click)="bookSeat(seat)">Book</button>
        
      </div>
    </div>
  </section>
  
</div>

<!-- Booking Form Modal -->
<div *ngIf="showBookingForm" class="booking-form-modal">
  <div class="booking-form-content">
    <h2>Book Seat {{ selectedSeat }}</h2>
    <form [formGroup]="bookingForm" (ngSubmit)="submitBooking()">
      <!-- Removed employeeId and employeeName fields -->

      <button type="submit" [disabled]="isSubmitting">Submit</button>

      <button type="button" (click)="cancelBooking()">Cancel</button>
      
    </form>
  </div>
  <!-- Booking Error Modal -->
  <!--app-booking-error-modal [errorMessage]="errorMessage"></app-booking-error-modal-->
 
</div>

</div>