<div class="dashboard-container">
  <!-- Left Navigation Panel -->
  <nav class="sidebar">
   <h2>Intern Panel</h2>
  
 </nav>
  <!-- Main Content Area -->
<div class="intern-booking-view-container">
<header>
 <h1>View Bookings</h1>
 
 
</header>

<section *ngIf="bookings.length >0">
 <table class="bookings-table">
   <thead>
     <tr>
       <th>Res_Id</th>
       <th>Seat Number</th>
      
       <th>Employee Name</th>
       <th>Reservation Date</th>
       <th>Actions</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let booking of bookings">
       <td>{{ booking.reservationId }}</td>
       <td>{{ booking.seatNumber }}</td>
       
       <td>{{ booking.employeeName }}</td>
       <td>{{ booking.reservationDate }}</td>
       
     </tr>
   </tbody>
 </table>
</section>

<section *ngIf="bookings.length === 0">
 <p>No bookings found for the selected date.</p>
</section>
</div>
</div>
