<div class="home-container">
    <div class="overlay">
        <!-- Header with navigation links -->
        <header class="home-header">
            <nav class="navbar">
                <a href="/register" class="nav-link">Register</a>
                <!-- <a href="/admin-login" class="nav-link">Admin Login</a> -->
                <a href="/admin-login" class="nav-link">Admin Login</a>

                <a href="/login" class="nav-link">Intern Login</a>
            </nav>
           
        </header>
        <h1>Welcome to the Intern Seat Booking App</h1>
        <section class="booking-info">
            <div class="description">
                <p>Book your seat quickly and easily!</p>
                <button class="book-now-btn"><a href="/login" class="book-now-link">Book Now</a> </button>
            </div>
        </section>
    </div>
</div>